body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.logo {
  font-family: Raleway, sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-1 {
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
}

.logo-2 {
  color: #f4f4fd;
  font-size: 18px;
  font-weight: 700;
}

.navigation-link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.navigation-link1 {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.navigation-link1:hover {
  color: #404bbf;
}

.navigation-link1:focus {
  color: #404bbf;
}

.connection {
  font-style: normal;
}

.connection .connection-link {
  color: #434455;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.connection .connection-link:hover {
  color: #404bbf;
}

.connection .connection-link:focus {
  color: #404bbf;
}

.maintitle {
  background-color: #2e2f42;
  color: #ffffff;
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
}

.button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button:hover {
  background-color: #404bbf;
  color: #ffffff;
}

.button:focus {
  background-color: #404bbf;
  color: #ffffff;
  cursor: pointer;
}

.maincolor {
  background-color: #2e2f42;
}

.section-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.section-text {
  color: #434455;
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.section-color {
  background-color: #f4f4fd;
}

.mainsection {
  color: #2e2f42;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mainsection-photo {
  background-color: #ffffff;
}

.mainsection-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mainsection-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.foot-er {
  background-color: #2e2f42;
}

.comment {
  color: #f4f4fd;
  background-color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
